.super-mario {
    width: 150px;
    position: absolute;
}

.goomba {
    width: 100px;
    position: absolute;
    bottom: 220;
    left: 100px;

}

.baloon {
    position: absolute;
    left: 300px;
    z-index: 1;
    top: 50px;
}

.speach {
    font-size: 25px;
    position: absolute;
    left: 320px;
    z-index: 2;
}

.bowser {
    width: 220px;
    position: absolute;
    bottom: 260px;
    left: 500px;

}